rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /items/{itemsid} {
      allow read;
      allow create:if request.auth.uid == request.resource.data.seller ;
      allow update,delete : if request.auth.uid == resource.data.seller || request.auth.uid == "vim1OcZtRubOeVlNVB0qf3Nb90L2";
      match /comments/{commentid}{
      allow read;
      allow create:if request.auth.uid == request.resource.data.posterId   ;
      allow update,delete : if request.auth.uid == resource.data.posterId || request.auth.uid == "vim1OcZtRubOeVlNVB0qf3Nb90L2";
      }
    }
    
  }
}