.comment {
  background-color: #171717;
  margin: 20px;
  margin-top: -10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.comment b {
  width: 90%;
  margin: 4px;
  color: whitesmoke;
}
.comment input {
  background-color: #171717;
  color: whitesmoke;
  padding: 10px;
  border-radius: 0;
  border-color: whitesmoke;
  margin: 4px;
}
@media only screen and (max-width: 800px) {
  .comment {
    margin: 0;
    width: 95%;
  }
}
