.itemDemo {
  background-color: #272727;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 15px;

  margin-top: 15px;
  cursor: pointer;

  border-left: solid;
  border-width: 0px;
}

.itemDemo b {
  width: 150px;
  overflow: hidden;
  height: 33px;
  font-size: 16px;
  padding: 0;
  color: whitesmoke;
}

.itemDemo Img {
  border-radius: 0px;
}
