.itemShow {
  margin: 50px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.itemShow b {
  width: 300px;
}
.showIMG {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}
.showIMG Img {
  width: 100%;
  margin-left: 0px;
}

@media only screen and (max-width: 800px) {
  .secItemShow {
    flex-direction: column;
  }
  .itemShow b {
    width: 100%;
  }
  .itemShow {
    margin-left: 15px;

    width: 70vw;
  }
  .showIMG {
    margin-left: 15px;
    width: 70vw;
  }
  .showIMG Img {
    margin-left: 0;
  }
}
