.itemShow {
  margin: 50px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.itemShow b {
  width: 300px;
}
.showIMG {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}
