.itemShow {
  background-color: ghostwhite;

  width: 300px;
  display: flex;
  flex-direction: column;
}
.itemShow b {
  padding-left: 10px;
  width: 100%-10px;
}

.showIMG {
  padding: 1px;
  background-color: whitesmoke;
  width: 500px;
}
.showIMG Img {
  width: 400px;
  height: 600px;
  object-position: center;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.secItemShow {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.itemNotFound p {
  margin: 50px;
  padding: 20px;
  width: 300px;
  color: #2b0091;
  background-color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  .secItemShow {
    flex-direction: column;
  }
  .itemShow b {
    width: 100%;
  }
  .itemShow {
    margin-left: 15px;

    width: 70vw;
  }
  .showIMG {
    margin-left: 15px;
    width: 70vw;
  }
  .showIMG Img {
    margin-left: 0;
  }
}
