.loginForm {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: absolute;
  right: 0px;
}
.loginForm input,
button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}

.loginForm button:hover {
  cursor: pointer;
  background-color: rgb(252, 195, 6);
}
