.registerForm label {
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.registerForm {
  margin: 30px;
  border-radius: 20px;
  padding: 100px;
  padding-top: 30px;
  background-color: #2b0091;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .registerForm {
    margin: 10px;

    padding: 10px;
  }
}
