.filterDiv {
  width: 100%;
  margin-left: 15px;
}

.filterDiv button {
  background-color: #2b0091;
  color: white;
  border-radius: 0;
  margin-left: 10px;
}
@media only screen and (max-width: 500px) {
  .filterDiv {
    display: flex;
    flex-direction: column;

    width: 180px;
    margin-left: 15px;
    font-size: 15px;
  }
  .filterDiv select {
    width: 100%;
  }

  .filterDiv button {
    margin-left: 0px;
  }
}
