.header {
  background-color: #2b0091;
  color: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
}

.header a {
  font-size: 26px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.header a:hover {
  cursor: pointer;
  background-color: rgb(252, 195, 6);
  color: #2b0091;
}
