.sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  border-style: solid;
  border-color: #2b0091;
  border-width: 2px;
  margin-right: 10px;
}

.sidebar a {
  font-size: 26px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  color: #2b0091;
  text-decoration: none;
  font-weight: bolder;
}

.sidebar a:hover {
  cursor: pointer;
  background-color: #2b0091;
  color: white;
}
