.uploadForm {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  background-color: #272727;
  height: 100%;
}

.uploadForm b {
  color: whitesmoke;
}
.uploadForm input,
textarea,
select {
  border-color: #2b0091;
  border-width: 1px;
}

.uploadForm button {
  border-radius: 0;
  width: 100%;
  background-color: #2b0091;
  color: white;
}
.uploadForm textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.uploadPic {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 30px;

  padding: 100px;
  padding-top: 30px;
  background-color: #272727;
  height: 100%;
}
.uploadPic button {
  border-radius: 0;
  width: 100%;
  background-color: #2b0091;
  color: white;
}

@media only screen and (max-width: 800px) {
  .uploadForm {
    margin: 10px;
    border-radius: 0px;
    height: 100%;
    padding: 20px;
  }
  .uploadForm textarea {
    height: 100px;
  }
  .uploadPic {
    margin: 10px;
    border-radius: 0px;
    height: 100%;
    padding: 15px;
  }
}
