body {
  background-color: white;
}
.mainBody {
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  align-items: stretch;
}
.App {
  width: 800px;
  background-color: rgb(228, 228, 228);
}
